@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: arial sans-serif;
}
body{
    overflow-x:hidden;
    background:url(../images/tableau.jpg)center fixed no-repeat;
    background-size:cover;
}
header{
    position:fixed;
    height:100px;
    width:100%;
    top:0;
    left:0;
}
h1{
    position:fixed;
    width:100%;
    top:30px;
    text-align:center;
    font-family: 'Pacifico', cursive;
    color:white;
    font-weight:100;
}
.quizz{
    width:1000px;
    margin:0 auto;
}
.question{
    width:1000px;
    height:200px;
    margin-top:150px;
    text-align:center;
}
.question p{
    margin-top:50px;
    color:white;
    font-size:25px;
}
.reponse{
    margin-top:10px;
}
.good p{
    font-size:30px;
    font-weight:1000;
    color:rgb(210, 118, 233);
    text-shadow: 2px 2px 3px black;
    line-height:250px;
    border-radius:50%;
}
.bad p{
    font-size:30px;
    font-weight:1000;
    color:rgb(210, 118, 233);
    text-shadow: 2px 2px 3px black;
    line-height:250px;
    border-radius:50%;
}
form{
    width:1000px;
    height:150px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.login{
    width:500px;
    height:150px;
    margin:150px auto;
}
::placeholder {
    color: white;
   width:100%;
   text-align:center;
  }
  
.btn{
    width:500px;
    height:50px;
    margin-top:40px;
    background:transparent;
    border:1px solid white;
    border-radius:10px;
    font-size:20px;
    color:white;
}
.btn2{
    width:500px;
    height:50px;
    margin-top:40px;
    background:transparent;
    border:1px solid white;
    border-radius:10px;
    font-size:20px;
    color:white; 
}