*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica, sans-serif;
}
body{
    overflow-x:hidden;
}
header{
    position:fixed;
    height:100px;
    width:100%;
    top:0;
    left:0;
    background:rgb(53, 50, 50);
}
h1{
    position:fixed;
    width:100%;
    top:25px;
    text-align:center;
    color:white;
    font-weight:100;
}
.quizz{
    width:1000px;
    margin:0 auto;
}
.question{
    width:1000px;
    height:200px;
    margin-top:150px;
    border:1px solid grey;
    border-radius:10px;
    text-align:center;
}
.question p{
    margin-top:50px;
}
.reponse{
    margin-top:10px;
}
#good{
    color:lime;
}
#bad{
    color:red;
}
form{
    width:1000px;
    height:150px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.btn{
    width:500px;
    height:50px;
    margin-top:40px;
}