*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}
body{
    overflow-x:hidden;
}
.quizz{
    width:980px;
    margin: 50px auto;
}
.question{
    width:1000px;;
    height:200px;
    text-align:center;
    border:1px solid grey;
    border-radius:10px; 
}
.question p{
    margin-top:30px;
}
.reponse{
    margin-top:10px;
}
#good{
    color:lime;
}
#bad{
    color:red;
}
form{
  width:1000px;
    margin:20px auto;
    height:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center; 
}
input[type='submit']{
    height:50px;
    width:50%;
    margin-top:12.5px;
    border-radius:10px;
}